@black: #333;
@bg: #f0f0f0;
@blue: #7087fb;
@gray: #999;
@fff: #fff;

@padding: 0.8rem;
@border: 1px solid @bg;

@theme-color: @blue;
@tabbar-text-active-color: @theme-color;
@search-cancel-font-color: @theme-color;
@search-bg-color: @fff;
@button-primary-bg-color: @blue;
@button-primary-active-bg-color: #9aa9ef;
